IOT_RPI/node-red/flows.json
[
    {
        "id": "022bda1f66daf757",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "103d0cc6e341f241",
        "type": "rpi-gpio in",
        "z": "022bda1f66daf757",
        "name": "",
        "pin": "14",
        "intype": "down",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 90,
        "y": 200,
        "wires": [
            [
                "141bb5f872f819d6"
            ]
        ]
    },
    {
        "id": "141bb5f872f819d6",
        "type": "file",
        "z": "022bda1f66daf757",
        "name": "",
        "filename": "/home/kamil/IOT_RPI/node-red/sensor_2.txt",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 430,
        "y": 200,
        "wires": [
            [
                "1a1dd42d0ef8fe51"
            ]
        ]
    },
    {
        "id": "1a1dd42d0ef8fe51",
        "type": "debug",
        "z": "022bda1f66daf757",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 200,
        "wires": []
    },
    {
        "id": "a47d6ce02a0ff990",
        "type": "comment",
        "z": "022bda1f66daf757",
        "name": "PIN 8 - L2",
        "info": "",
        "x": 120,
        "y": 160,
        "wires": []
    },
    {
        "id": "7f3a21fbbf8ebe61",
        "type": "rpi-gpio in",
        "z": "022bda1f66daf757",
        "name": "",
        "pin": "15",
        "intype": "down",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 100,
        "y": 80,
        "wires": [
            [
                "b53c1732c8bb2dd8"
            ]
        ]
    },
    {
        "id": "b53c1732c8bb2dd8",
        "type": "file",
        "z": "022bda1f66daf757",
        "name": "",
        "filename": "/home/kamil/IOT_RPI/node-red/sensor_1.txt",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 430,
        "y": 80,
        "wires": [
            [
                "f70e7d1e176f3893"
            ]
        ]
    },
    {
        "id": "f70e7d1e176f3893",
        "type": "debug",
        "z": "022bda1f66daf757",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 80,
        "wires": []
    },
    {
        "id": "cc10a0083ff946f3",
        "type": "comment",
        "z": "022bda1f66daf757",
        "name": "PIN 10 - L1",
        "info": "",
        "x": 130,
        "y": 40,
        "wires": []
    },
    {
        "id": "79442bd308e76033",
        "type": "exec",
        "z": "022bda1f66daf757",
        "command": "python /home/kamil/IOT_RPI/proces_raw_data_digital_RPI_energy_meter.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 690,
        "y": 360,
        "wires": [
            [
                "975ea13ebb493e5c"
            ],
            [
                "975ea13ebb493e5c"
            ],
            []
        ]
    },
    {
        "id": "6aa625c1a7bf8ba7",
        "type": "inject",
        "z": "022bda1f66daf757",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 360,
        "wires": [
            [
                "952e1c7c8910dbb5",
                "48f8dd542953a66d"
            ]
        ]
    },
    {
        "id": "975ea13ebb493e5c",
        "type": "debug",
        "z": "022bda1f66daf757",
        "name": "debug 19",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 360,
        "wires": []
    },
    {
        "id": "13faca5ab9b403a9",
        "type": "exec",
        "z": "022bda1f66daf757",
        "command": "python /home/kamil/IOT_RPI/proces_raw_data_iNode.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 690,
        "y": 460,
        "wires": [
            [
                "a02f83a3877329ed"
            ],
            [
                "a02f83a3877329ed"
            ],
            []
        ]
    },
    {
        "id": "a02f83a3877329ed",
        "type": "debug",
        "z": "022bda1f66daf757",
        "name": "debug 21",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 460,
        "wires": []
    },
    {
        "id": "952e1c7c8910dbb5",
        "type": "delay",
        "z": "022bda1f66daf757",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 320,
        "y": 460,
        "wires": [
            [
                "13faca5ab9b403a9"
            ]
        ]
    },
    {
        "id": "c05cebd2336203c4",
        "type": "exec",
        "z": "022bda1f66daf757",
        "command": "cd /home/kamil/IOT_RPI/iNode/; sudo ./script.sh",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 660,
        "y": 560,
        "wires": [
            [
                "e7c44cea165e518d"
            ],
            [
                "e7c44cea165e518d"
            ],
            []
        ]
    },
    {
        "id": "e7c44cea165e518d",
        "type": "debug",
        "z": "022bda1f66daf757",
        "name": "debug 22",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 560,
        "wires": []
    },
    {
        "id": "cecdb3b3de0d8434",
        "type": "inject",
        "z": "022bda1f66daf757",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 560,
        "wires": [
            [
                "c05cebd2336203c4"
            ]
        ]
    },
    {
        "id": "48f8dd542953a66d",
        "type": "delay",
        "z": "022bda1f66daf757",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 320,
        "y": 360,
        "wires": [
            [
                "79442bd308e76033"
            ]
        ]
    },
    {
        "id": "5b2bd27eb745167d",
        "type": "comment",
        "z": "022bda1f66daf757",
        "name": "Proces raw data",
        "info": "",
        "x": 140,
        "y": 300,
        "wires": []
    }
]